.container.content
  %h1.title Unilo
  .info Your friendly university search quiz!
  .loginbox
    .login_here.container
      .col-md-8.col-md-offset-2
        Login
        %br
        %form.hi
          %input.form-control{:type => "text"}
          %br
          %input.form-control{:type => "text"}
  .register_here
    %a{:href=>"#"} Click here to register?

