.row
  .col-md-12
    %h1.thanks Thank you for particiating!
.row
  .col-md-12.resultsbox
    User Results
.row
  .col-md-12
    %input.try_again.btn.btn-default{:type=>"button", :value=>"Try it again!"}
      
    