.navbar.navbar-default.header
  .container-fluid 
    .navbar-header
      %h1
        %a.navbar-brand{:href =>"#"} Unilo
      %ul
        %li
          %a{:href =>"#"} About
        %li
          %a{:href =>"#"} Team
          
.container-fluid
  .row
    .col-md-3.empty-side-col
    .col-md-6.central-col
      centre
    .col-md-3.empty-side-col

.footer have a footer