body {
  text-align: center;
}

.thanks {
  font-family: "Arvo", serif;
  color: black;
  font-size: 24px;
}

.resultsbox {
  padding: 16px;
}

.btn.btn-default {
  margin: 4px;
  color: white;
  background-color: #FF6A22;
    &:hover {
      background-color: #EE5911;
    }
}
