body {
  background-color: #666;
}
.header {
  background-color: #FF6A22;
  margin-bottom: 0;
  border: none;
  padding: 4px;
  .title {
    font-family: "Lobster", cursive;
    font-size: 48px;
    font-style: none;
    color: white;
  }
}
.central-col {
  background-color: white;
  height:100%;
}