body {
  background: url(image-url('bg.png'));
  /*background-color: transparent !important;*/
  
}

.header {
  background-color: #FF6A22;
  margin-bottom: 0;
  border: none;
  padding: 4px;
  box-shadow: 0 1px 3px #222;
  .title {
    font-family: "Lobster", cursive;
    font-size: 48px;
    font-style: none;
    color: white;
  }
  .title:hover {
    color:white;
    font-size:50px;
  }
}

.central-col {
  background-color: white;
  width: 70%;
  padding: 16px;
}

.fill {
  height:100%;
  min-height:100%;
}

.footer {
  background-color: #FF6A22;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  box-shadow: 0 -1px 3px #222;
  color: white;
  text-align: center;
  .footer_links {
    padding: 4px;
  }
  .footer_links, a {
    color: white;
    font-family: "Arvo", sans-serif;
    font-size: 16px;
  }
}

.question {
  font-family: "Arvo", sans-serif;
  font-size: 27px;
}

.questiontitle {
  font-family: "Arvo", sans-serif;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 0;
}

.answercontainer {
  margin-top: 15px;
}

.answer {
  float: none;
  margin: 0 auto;
}

.uni1container {
  width: 50%;
}

.uni2container {
  width: 50%;
}

.uni1 {
  height: 500px;
  width: 500px;
  float: left;
}

.uni2 {
  height: 500px;
  width: 500px;
  float: right;
}

#box {  
  height:350px;
  width: 35%;
  box-shadow:inset 1px 1px 40px 0 rgba(0,0,0,.45);
  border-bottom:2px solid #fff;
  border-right:2px solid #fff;
  margin:5% auto 5% 10%; 
  background:url(http://upload.wikimedia.org/wikipedia/commons/a/a9/University_of_Otago.jpg);
  background-size:cover !important;
  background-position: center center !important;
  border-radius:5px;
  overflow:hidden;
  float: left;
}

#box2 {  
  height:350px;
  width: 35%;
  box-shadow:inset 1px 1px 40px 0 rgba(0,0,0,.45);
  border-bottom:2px solid #fff;
  border-right:2px solid #fff;
  margin:5% 10% 5% auto; 
  background:url(http://upload.wikimedia.org/wikipedia/commons/a/a9/University_of_Otago.jpg);
  background-size:cover !important;
  border-radius:5px;
  overflow:hidden;
  float: right;
}

#overlay {  
  background:rgba(0,0,0,.75);
  text-align:center;
  padding:45px 0 66px 0;
  opacity:0;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
  height: 400px;
}

#box:hover #overlay {
  opacity:1;
}

#box2:hover #overlay {
  opacity:1;
}

#letter {
  font-family: "Lobster", cursive;
  font-weight:900;
  color:rgba(255,255,255,.85);
  font-size:96px;
}

.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a, .ui-panel-wrapper {
  background-color: transparent !important;
}

.description {
  font-family: "Lobster", cursive;
  font-size: 30px;
  font-style: none;
  color: black;
}