body {
  background-image: image_url('bg.png');
}

.header {
  background-color: #FF6A22;
  margin-bottom: 0;
  border: none;
  padding: 4px;
  box-shadow: 0 1px 3px #222;
  .title {
    font-family: "Lobster", cursive;
    font-size: 48px;
    font-style: none;
    color: white;
  }
  .title:hover {
    color:white;
    font-size:50px;
  }
}

.central-col {
  background-color: white;
  width: 70%;
  padding: 16px;
}

.fill {
  height:100%;
  min-height:100%;
}

.footer {
  background-color: #FF6A22;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  box-shadow: 0 -1px 3px #222;
  color: white;
  text-align: center;
  .footer_links {
    padding: 4px;
  }
  .footer_links, a {
    color: white;
    font-family: "Arvo", sans-serif;
    font-size: 16px;
  }
}

.question {
  font-family: "Arvo", sans-serif;
  font-size: 27px;
}

.questiontitle {
  font-family: "Arvo", sans-serif;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 0;
}

.answercontainer {
  margin-top: 15px;
}

.answer {
  float: none;
  margin: 0 auto;
}