!!!
%html
  %head
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true 
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .navbar.navbar-default.navbar-static-top.header
      .navbar-header
        %a.navbar-brand.title{:href =>"#"} Unilo
    .container.central-col= yield

    .footer
      .container Place sticky footer content here
